/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.block__image {
  width: 100%;
}

.block__details {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .block {
    text-align: center;
  }

}

.centered{
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.centered__elem_task {
  width: 56%;
  display: inline-block;
}

.centered__list {
  margin: 0;
  padding: 0px;
}

li,
h1,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3A3a;
}
/* Heading */

.centered__task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.centered__text{
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.centered__text:focus {
  color: #333;
}

/* New Task */

.centered__item {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

.centered__btn:hover {
  color: #0FC57C;
}

/* Task list */

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.centered__elem {
  vertical-align: middle;
}

.centered__checkbox {
  margin: 0 10px;
}

.centered__elem_task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.centered__elem_list {
  width: 226px;
}

.centered__delete:hover {
  color: #CF2323;
}

.centered__delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.centered__delete img:hover {
  transform: rotateZ(0);
}

/* Completed */

#completed label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

.centered__elem_list {
  display: inline-block;
  width: 224px;
}

.centered__mode.centered__elem_task {
  display: none;
}